tmp
bin
build
.DS_Store
.gitignore
.svn
*.pyc
*~.nib/
*.pbxuser
*.perspective
*.perspectivev3
*.xcworkspace/
xcuserdata
*.xcuserstate
*.xcuserdata*
.settings/
.apt_generated
.idea/
libs/
/android/dist
/iphone/dist
/iphone/documentation
/android/documentation
/dist/modules